<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StudentDao">

	<select id="selectsclist" parameterType="String" resultType="pojo.Course">
		select student.student_id,course.course_id,course.course_name,course.term,course.course_hour,
		teacher.name from course,teacher,sc,tc,student
		where student.student_id=sc.student_id and sc.course_id=course.course_id
		and course.course_id=tc.course_id and tc.teacher_id=teacher.teacher_id
		and tea_identity='主讲教师' and student.user_id=#{user_id}
	</select>
	
	<select id="selectmytopics" parameterType="String" resultType="pojo.Topic">
		select course.course_name,topic.topic_id,topic,keyword,teacher.name,creation_time,student_num 
		from topic,teacher,course,student,stutopic
		where topic.teacher_id=teacher.teacher_id and course.course_id=topic.course_id 
		and student.student_id=stutopic.student_id and stutopic.topic_id=topic.topic_id
		and student.user_id=#{user_id}
	</select>	
	
	<insert id="addstutopic" parameterType="pojo.Stutopic">
		insert into stutopic(student_id,topic_id,select_time,flag)values(#{student_id},#{topic_id},#{select_time},#{flag})
	</insert>
	
	<update id="updatestudentnum" parameterType="pojo.Topic">
		update topic set student_num=#{student_num} where topic_id=#{topic_id}
	</update>
	
	<select id="ifcoursehaschosentopic" parameterType="pojo.Sc" resultType="String">
		select topic.topic_id
		from sc,stutopic,topic,course
		where  sc.student_id=stutopic.student_id and topic.topic_id=stutopic.topic_id
		and sc.course_id=course.course_id and course.course_id=topic.course_id
		and sc.course_id=#{course_id} and sc.student_id=#{student_id}
	</select>
	
	<select id="selectstutopicstudentlist" parameterType="String" resultType="pojo.Student">
		select student.student_id,name,sex,major,classes
		from student,stutopic,topic
		where student.student_id=stutopic.student_id and stutopic.topic_id=topic.topic_id
		and topic.topic_id=#{topic_id}
	</select>
	
	<select id="selectstutopicstudentpaperlist" parameterType="pojo.Paper" resultType="pojo.Paper">
		select paper_id,title,author,source,keyword,abstracts,doc_location,student_id,uploading_time
		from paper where topic_id=#{topic_id} and student_id=#{student_id}
	</select>
	
	<select id="selectcomments" parameterType="String" resultType="pojo.Comment">
		select comment.paper_id,comment.user_id,comment.comment_content from comment
		where paper_id=#{paper_id}
	</select>
	
	<insert id="stuaddcomment" parameterType="pojo.Comment">
		insert into comment(paper_id,user_id,comment_content)values(#{paper_id},#{user_id},#{comment_content})
	</insert>
</mapper>